extends layout

block content
  #sub-header
    h2.post-title About

  main
    p CureMap is a Boston based project focused on aggregating, curating and presenting current human clinical trials for spinal cord injury. The creator C. Southard designed,  organized and developed an interactive map that is accessible and grounded in vetted research.

    p CureMap's goal is to provide an easy to use interface  that encourages users to learn about approved human trials derived from clinicaltrials.gov.
    
    p The creator of this website is in a position to help expedite awareness and knowledge through his ongoing participation in a variety of leading spinal cord injury research organizations and facilities including; Massachusetts Walks Again, Unite 2 Fight Paralysis, Rutgers University and others.
    
    p It is exciting to share this information and look forward to furthering patients’ knowledge and impact upon science nationally and internationally.
    
    p  This is a self initiated project and the creator shamelessly and generously accepts  donations, sponsorships and other forms of capital to maintain and evolve the concept.
  
    h2.post-title FAQ
  
  main
    h3 Why I Created this Site
    
    blockquote Human behavior flows from three main sources: desire, emotion, and knowledge. -Plato
    
    h4 Emotion
    
    p Over a decade ago, I injured my spinal cord from the result of rogue surf.   While I fought to sustain life and maximize my recovery, it was the darkest of hours for my family and friends, who spent sleepless nights searching for any treatment that could reduce the level of paralysis, pain,  or  severity of the injury.  
    
    p Very little information existed and any information that did was for the privileged  and few.  Years later I found out that there was a trial. However, despite initial success- the research was abandoned due to lack of funding and recruitment.

    p Today, there still exists NO treatment for chronic spinal cord injury. The prescription is a wheelchair.
  
    h4 Desire
    
    p Years of dedication through writing editorials,  lobbying Congress and actively engaging in scientific inquiry have led me to new connections and frontiers in the never-ending human desire to be whole.

    p My goal is to connect potential treatment opportunities to patients.  I wanted to create a place where families and those who experience injuries can locate available research.

    p The train is moving. The science is not complete, yet it is rolling down the tracks and I feel it is my duty to make this information accessible.

    h4 Knowledge
    
    blockquote If you have knowledge, let others light their candles in it. -Margaret Fuller
    
    p In this moment, we live in a brighter world than the day I was injured.  There are multiple clinical trials going on throughout the world.  However, there are not nearly enough trials and funds. The complexity of neurological regeneration is beyond words.  In order to make the future promising, people need to participate.
    
    p Families living with spinal cord injury understand the seriousness of this chronic condition and the need for capital, participation and awareness. 
    
    p This Internet application will help recruit patients, assist scientists and clinicians increase the speed of their trials and provide patients the knowledge to get back on the train.

  ` blockquote The true method of knowledge is experiment. - William Blake
  
    h3 What Trials Are Selected and Why?

    p This map is a curated list of current trials listed on clinicaltrials.gov.  The trials are ongoing, human-centered and each aim at effective treatments for a variety of complications from spinal cord injury, while others aim at full restoration of the spinal tract
    
    p This list has been painstakingly compiled by the U2FP’s Special Projects Director, Donna Sullivan. 

    h3  How can I support CureMap?

    p If you found this application useful, I would greatly and unapologetically accept support. Comments and feedback are greatly appreciated and welcomed. Tweet @curemap.
    
    
