extends layout

block content
  #sub-header
    h2.post-title About

  main
    p CureMap is a Boston based project focused on aggregating, curating and presenting current human clinical trials for spinal cord injury. The creator C. Southard designed,  organized and developed an interactive map that is accessible and grounded in vetted research.

    p CureMap's goal is to provide an easy to use interface  that encourages users to learn about approved human trials derived from clinicaltrials.gov.

    p The creator of this website is in a position to help expedite awareness and knowledge through his ongoing participation in a variety of leading spinal cord injury research organizations and facilities including; Massachusetts Walks Again, Unite 2 Fight Paralysis, Rutgers University and others.

    p It is exciting to share this information and look forward to furthering patients’ knowledge and impact upon science nationally and internationally.

    p  This is a self initiated project and the creator shamelessly and generously accepts  donations, sponsorships and other forms of capital to maintain and evolve the concept.



