extends layout

block pre_header
  include _splash.jade

block content
  main.home.page
    #map

    #toggle
      .buttons
        .international.active
          h2 international

      .usa
        h2 usa

    #filters
      .filter-label
        label Jump To

      .filter
        select#sponsor
          option(value="") SPONSOR

      .filter
        select#treatment
          option(value="") TREATMENT

      .filter
        select#location
          option(value="") LOCATION

      .filter
        select#phase
          option(value="") #PHASE

    #links
      .pin-icon
        img(src="img/mark.png")

      .link
        label neuralstem inc

      .link
        label human spinal cord stem cells

      .link
        label boston, ma  usa

      .link
        label NCT01772810
          span.yellow &nbsp;(Learn More)

    #treatment-wrap
      h2.posts-title Featured Treatments
      ul#treatments
        li
          a(href="http://google.com"): img(src="img/post1.jpg")
        li
          a(href="http://google.com"): img(src="img/post2.jpg")
        li
          a(href="http://google.com"): img(src="img/post3.jpg")
        li
          a(href="http://google.com"): img(src="img/post4.jpg")

  footer
