extends layout

block pre_header
  include _splash.jade

block content
  main.home.page
    #map

    #toggle
      .buttons
        .international.active
          h2 international

        .usa
          h2 usa

    #filters
      .filter-label
        label Jump To

      .filter
        select#sponsor
          option(value="") SPONSOR

      .filter
        select#treatment
          option(value="") TREATMENT

      .filter
        select#location
          option(value="") LOCATION

      .filter
        select#phase
          option(value="") #PHASE

    #treatment-wrap
      h2.posts-title Featured Treatments
      ul#treatments
        li
          a(href="http://u2fp.org"): img(src="img/u2fp.jpg")
        li
          a(href="http://www.neurorecoverytechnologies.com"): img(src="img/NRT.png")
        li
          a(href="http://www.neuralstem.com"): img(src="img/neuralstem.jpg")
        li
          a(href="http://www.stemcellsinc.com"): img(src="img/stemcellsinc-logo.png")

  footer
