body,p,span,a,select
  color text-color
  font-family 'Open Sans', sans-serif;
  font-family: "Metro Nova W04 Light","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight 400

body
 // background url('/img/background.jpg') no-repeat center #F8F8F8
  background: url('/img/white-texture.png') repeat-x top center;
  background-size cover

h1, h2, h3, h4, h5, h6
  color header_color
  font-family 'Stint Ultra Condensed', sans-serif;
  font-size 180%
  letter-spacing .1em

h1, h2
  font-weight 400

a
  text-decoration none

select
  padding 10px 20px
  margin  5px 0
  box-shadow 3px 3px 5px 0px rgba(212, 212, 212, 0.75)
  background url('/img/portfolio-sort-arrow.png') no-repeat 95% #fff
  border: 1px solid #dbdada;
  outline none
  display  inline-block
  appearance none
  cursor pointer
  font-weight 400

  &:after
    content "\f0d7"
    font-family FontAwesome
    display block

 .yellow
   color yellow

blockquote
  blockquote (red)
  font-size 1.2em

*
  box-sizing border-box
