body,p,span,a,select
  color text-color
  font-family 'Open Sans', sans-serif;
  font-weight 400

body
  background url("/img/background.jpg") no-repeat center
  background-size cover

h1,h2,h3,h4,h5,h6
  color header-color
  font-family 'Stint Ultra Condensed', sans-serif;

h1,h2
  font-weight 400

a
  text-decoration none

select
  padding 10px 20px
  margin  5px 0
  box-shadow 3px 3px 5px 0px rgba(212, 212, 212, 0.75)
  background url(/img/portfolio-sort-arrow.png) no-repeat 95% #ffffff
  border: 1px solid #dbdada;
  outline none
  display  inline-block
  appearance none
  cursor pointer
  font-weight 700

  &:after
    content "\f0d7"
    font-family FontAwesome
    display block

 .yellow
   color yellow

*
  box-sizing border-box