header
  center(980px, 10px)
  #menu-container
    column(1/3)
    a
      color text-color
      hover-darken(20%)
      transition: all .25s ease-in-sine
      font-size 4em
      font-family entypo
      text-decoration none


  #title-container
    column(1/3)
    text-align center
    img
      height 70px
      max-width 100%
      max-height 100%

  #social-container
    column(1/3)
    #share-button
      float right
      .social
        line-height 20px
      label.entypo-export
        background #C9C9C9

  #page-title
    clear left
    text-align center
    uppercase()
    padding 1px 0
    line-height 1px
    font-size 200%

  #menu-container, #title-container, #social-container
    line-height 75px

