---
title: hello world
date: 7/30/2014
img: img/post4.jpg
layout: ../views/_single_post.jade
excerpt: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend nisl quis arcu vehicula dignissim. Fusce eget tellus nisi. Cras ac velit vitae quam feugiat congue. Nunc pulvinar nunc nec mauris tempor, et suscipit purus hendrerit. Duis dictum vitae dolor posuere dignissim. Cras commodo elit lectus, non aliquet ante iaculis a. Cras ornare ut eros ut imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
---
:markdown
    This is my first blog post. Since I can use jade to write my posts, I can get markdown as well as the full power of html in every post. Whoo!
